In [181]:
import pandas as pd
import numpy as np
from deuces import Deck, Card, Evaluator

In [182]:
def generate_hands(n_hands):
    deck = Deck()
    hands = []
    for _ in range(n_hands):
        deck.shuffle()
        cards = deck.draw(7)
        hands.append(cards)
    return hands

In [183]:
hands = generate_hands(int(9.999e4))
hands_df = pd.DataFrame(hands, columns=['hole1', 'hole2', 'flop1', 'flop2', 'flop3', 'turn', 'river'])
hands_df.head()

       hole1      hole2     flop1      flop2      flop3       turn     river
0     266757    4228625     73730      81922   67127839    2106637  67144223
1     533255  268454953  16783383  134253349     164099   33589533  67127839
2  134224677      73730    279045  134236965   33564957   67119647   8423187
3      81922   16787479    295429   67115551  268454953     266757   2114829
4     533255   33589533    541447  268471337    2106637  134253349    270853

In [184]:
evaluator = Evaluator()

hands_df['flop_eval'] = hands_df.apply(lambda row: evaluator.evaluate(list(row.values[:2]), list(row.values[2:5])), axis=1)
hands_df['turn_eval'] = hands_df.apply(lambda row: evaluator.evaluate(list(row.values[:2]), list(row.values[2:6])), axis=1)
hands_df['river_eval'] = hands_df.apply(lambda row: evaluator.evaluate(list(row.values[:2]), list(row.values[2:7])), axis=1)
hands_df.head()

,hole1,hole2,flop1,flop2,flop3,turn,river,flop_eval,turn_eval,river_eval
0,266757,4228625,73730,81922,67127839,2106637,67144223,6090,6087,2825
1,533255,268454953,16783383,134253349,164099,33589533,67127839,6289,6234,1600
2,134224677,73730,279045,134236965,33564957,67119647,8423187,3680,3607,3602
3,81922,16787479,295429,67115551,268454953,266757,2114829,6412,5537,5537
4,533255,33589533,541447,268471337,2106637,134253349,270853,5328,5307,5307

In [186]:
hands_df.to_csv('data/hands.csv')

In [187]:
def prettify_row(row):
    cards = row.values[:7]
    cards = [Card.int_to_str(card) for card in cards]
    hand_evals = row.values[7:]
    hand_types = [evaluator.class_to_string(evaluator.get_rank_class(hand_eval)) for hand_eval in hand_evals]
    return cards + hand_types

In [188]:
pretty_hands_df = hands_df.transform(prettify_row, axis=1)
pretty_hands_df.head()

  hole1 hole2 flop1 flop2 flop3 turn river  flop_eval  turn_eval river_eval
0    4s    8c    2h    2d    Qd   7h    Qc       Pair       Pair   Two Pair
1    5h    Ad    Ts    Kc    3c   Jc    Qd  High Card  High Card   Straight
2    Ks    2h    4d    Kd    Jh   Qh    9c       Pair       Pair       Pair
3    2d    Th    4c    Qs    Ad   4s    7d  High Card       Pair       Pair
4    5h    Jc    5d    Ac    7h   Kc    4h       Pair       Pair       Pair